<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <!-- More attributes here... -->
    </tr>
  </thead>

  <tbody>
    <% @products.each do |prod| %>
      <tr>
        <td><%= prod.id %></td>
        <td><%= prod.name %></td>
        <!-- More attributes here... -->
      </tr>
    <% end %>
  </tbody>
</table>
