<h1>Product</h1>

<table>
  <thead>
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <!-- More attributes here... -->
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @product.id %></td>
        <td><%= @product.name %></td>
        <!-- More attributes here... -->
      </tr>
  </tbody>
</table>
